{%- include snippets/get-sources.html -%}
{%- assign _sources = __return -%}

{%- assign _LEANCLOUD_APP_ID = site.pageview.leancloud.app_id -%}
{%- assign _LEANCLOUD_APP_KEY = site.pageview.leancloud.app_key -%}
{%- assign _LEANCLOUD_APP_CLASS = site.pageview.leancloud.app_class -%}

{%- if page.key and
  _LEANCLOUD_APP_ID and
  _LEANCLOUD_APP_KEY and
  _LEANCLOUD_APP_CLASS -%}

  <script>
    {%- include pageview-providers/leancloud/leancloud.js -%}
  </script>
  <script>
    window.Lazyload.js(['{{ _sources.jquery }}', '{{ _sources.leancloud_js_sdk}}'], function() {
      var pageview = window.pageview(AV, {
        appId:    '{{ _LEANCLOUD_APP_ID }}',
        appKey:   '{{ _LEANCLOUD_APP_KEY }}',
        appClass: '{{ _LEANCLOUD_APP_CLASS }}'
      });
      var key =   '{{ page.key }}';
      var title = {{ page.title | jsonify }};
      pageview.increase(key, title, function(view) {
        $("[data-page-key='{{ page.key }}']").text(view);
        saveVisitorInfo();
      });
    });
  </script>

  <!-- 这段代码用来记录访客浏览记录 -->
  <script>
    const txHandler = function (data) {
      let status = data['status']
      let message = data['message']

      if (status == 0) {
        let ip = data['result']['ip']
        let lat = data['result']['location']['lat']
        let lng = data['result']['location']['lng']
        let nation = data['result']['ad_info']['nation']
        let province = data['result']['ad_info']['province']
        let city = data['result']['ad_info']['city']
        let district = data['result']['ad_info']['district']
        // 国家 省 市 区
        let addr = nation + ' ' + province + ' ' + city + ' ' + district
        // 将浏览信息写入leancloud
        let vis = AV.Object.createWithoutData('blog_visitor_log', lcObjectId);
        vis.set('txIp', ip);
        vis.set('txLat', lat);
        vis.set('txLng', lng);
        vis.set('txAddr', addr);
        vis.save();
      } else {
        // 将浏览信息写入leancloud
        let vis = AV.Object.createWithoutData('blog_visitor_log', lcObjectId);
        vis.set('txAddr', message)
        vis.save();
      }
    }

    const ipsbHandler = function (data) {
      let isp = data['isp']
      let ip = data['ip']
      let lat = data['latitude']
      let lng = data['longitude']
      let nation = data['country']
      let province = data['region']
      let city = data['city']
      // 国家 省 市
      let addr = nation + ' ' + province + ' ' + city
      // 将浏览信息写入leancloud
      let vis = AV.Object.createWithoutData('blog_visitor_log', lcObjectId);
      vis.set('apsbIsp', isp);
      vis.set('ipsbIp', ip);
      vis.set('ipsbLat', lat);
      vis.set('ipsbLng', lng);
      vis.set('ipsbAddr', addr);
      vis.save();
    }

    var lcObjectId = ''
    function saveVisitorInfo() {
      var key = '{{ page.key }}';
      var title = {{ page.title | jsonify }};
      var Visitor = AV.Object.extend('blog_visitor_log');
      var vis = new Visitor();
      vis.set('title', title);
      vis.set('key', key);
      vis.save().then((todo) => {
        lcObjectId  = todo.id;
        // 通过jsonp获取位置信息
        getInfo('https://apis.map.qq.com/ws/location/v1/ip?output=jsonp&callback=txHandler&key=2HTBZ-NAKE3-6ID35-YAPBX-GZTSK-G7FGD');
        getInfo('https://api.ip.sb/geoip?callback=ipsbHandler');
      }, (error) => {
        console.log('保存失败')
      });
    }

    function getInfo(apiUrl) {
      var url = apiUrl
      var script = document.createElement('script');
      script.setAttribute('src', url);
      script.async = true
      document.getElementsByTagName('head')[0].appendChild(script);
    }

  </script>
  <!-- ----------------- -->

{%- endif -%}